:root {
  --red: #E61C31;
  --orange: #FF9F1C;
  --black: #1A1A1A;
  --blue: #28AFB0;
  --white: #FFFFFF;
}

@font-face {
  font-family: "Bluenesia";
  src: url("/fonts/Bluenesia.otf");
}

body {
  margin: 0;
  background: var(--black);
  color: var(--white);
  overflow-x: hidden;
}

h1 {
  font-family: "Bluenesia", sans-serif;
  color: var(--red);
}

h2{
  font-family: "Bluenesia", sans-serif;
  font-size: 40px;
  color: var(--white);
}

h3 {
  font-family: "Bluenesia", sans-serif;
  font-size: 30px;
  color: var(--orange);
  margin-top: 30px;
  margin-bottom: 30px;
}

p{
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

/* HOME */
#home{
  display:flex;
  margin:auto;
  padding-top: 8%;
  padding-bottom: 8%;
  flex-direction: column;
}

#logo {
  display:block;
  margin:auto;
  width: 25%;
}

h3{
  margin-top: 3%;
  text-align: center;
  display:flex;
  justify-content: center;
}

h3{
  font-family: "Bluenesia";
  font-size: 30px;
  color: var(--white);
  text-decoration: none;
  margin: 30px;
}
